{%extends "django_registration/base.html"%}

{% block content %}
   <h1>
       What it do baby!!!
   </h1>

   <div class="container">
       <div class="row">
        {% for image in images %}
        <div class="col-md-4">
            <h2>{{image.profile.user.username}}</h2>
            <img  src="{{image.image.url}}" width="270px" height="250px" style="margin-top:9px;border-radius: 5%;">
            <p><span style="font-weight:bold">{{image.profile.user.username}} </span>{{image.image_caption}}</p>
            <form action="{% url 'like_post' image.pk %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button class="btn" type="submit" name="post_id" value="{{image.id}}">
                    <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
                </button>
                <p>{{image.likes.all.count}} likes</p>
                <!-- <p>{{total_likes}} likes</p> -->
            </form>
            <h2>Comments ...</h2>
            {% if not image.comments.all %}
              No comments yet ... <a href="{% url 'add_comment' image.pk %}">Add one</a>
              {% else %}
              <a href="{% url 'add_comment' image.pk %}">Add comment</a>
              <br/>
                 {% for comment in image.comments.all %}
                   <h3>{{comment.name}}</h3>
                   <p>{{comment.body}}</p>
                   {{comment.date_added}}
                {% endfor %}
            {% endif %}
            <!-- <p>{{image.image_name}}</p> -->
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}