{%extends "insta/base.html"%}
{%load bootstrap4%}

{% block content %}
<h1 style="text-align:center">My Profile</h1>
<br/> <br/>



<br/><br/>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      {% if profile.user.id == userid %}
                    <div class="profile-info-name-edit">
                        <button><a href="{% url 'edit' profile.id %}">Edit Profile</a></button>
                        <button><a href="{% url 'logout' %}">Logout</a></button>
                    </div>
                    {% endif %}
        <div class="card" style="width: 24rem;">
            <img src="{{user.profile.profile_photo.url}}" alt="" srcset="">
            <div class="card-body">
              <h5 class="card-title" style="color:black">{{ user.username }}</h5>
              <p class="card-text" style="color:black">{{ user.profile.bio }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
       <span class="mr-5"><strong>{{ user.profile.images_set.count }}</strong> Posts</span>
    </div>
    <div class="col-md-2">
      <span class="mr-5"> <strong>{{ user.profile.followers.count }}</strong> followers</span>
    </div>
    <div class="col-md-2">
      <span class="mr-5"> <strong>{{ user.profile.following.count }}</strong> following</span>
      <div style="margin-left:-200px">
      {% if follow_status %}
        <a class="btn btn-sm btn-outline-danger ml-5" href="{% url 'unfollow' user.profile.id %}">Unfollow</a>
        
        {%else%}
        
          <a class="btn btn-sm btn-primary ml-5" href="{% url 'follow' user.profile.id %}">Follow</a>
        {% endif %}
      </div>
    </div>
                    
  </div>
  <div class="row">
    {% for image in user_posts %}
    <div class="col-md-3">
      <img src="{{ image.image.url }}" style="width:300px;height:290px;margin-top:2%">
      <p><span style="font-weight:bold">{{image.profile.user.username}} </span>{{image.image_caption}}</p>
            <form action="{% url 'like_post' image.pk %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <div class="containerEl" style="display:flex">
                <button class="btn" type="submit" name="post_id" value="{{image.id}}">
                    <i class="fa fa-heart-o fa-3x" aria-hidden="true" style="color:white"></i>
                </button>
                <a href="{% url 'add_comment' image.pk %}" style="color:white"><i class="fa fa-comment-o fa-3x" aria-hidden="true"></i></a>
            </div>
                <p>{{image.likes.all.count}} likes</p>
                <!-- <p>{{total_likes}} likes</p> -->
            </form>
            <h2>Comments ...</h2>
            {% if not image.comments.all %}
              No comments yet ... <a href="{% url 'add_comment' image.pk %}">Add one</a>
              {% else %}
              <br/>
                 {% for comment in image.comments.all %}
                   <p><span style="font-weight:bold">{{comment.name}}</span>  {{comment.body}} {{comment.date_added|date:"SHORT_DATETIME_FORMAT"}}</p>
                   
                   
                {% endfor %}
            {% endif %}
    </div>
    {% endfor %}
        
    </div>
  </div>
</div>


                                
  
{%endblock%}