{%extends "insta/base.html"%}
{%load bootstrap4%}

{% block content %}
<h1>My Profile</h1>
<br/> <br/>



<br/><br/>
<div class="container">
  <div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 24rem;">
            <img src="{{user.profile.profile_photo.url}}" alt="" srcset="">
            <div class="card-body">
              <h5 class="card-title" style="color:black">{{ user.username }}</h5>
              <p class="card-text" style="color:black">{{ user.profile.bio }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
       <span class="mr-5"><strong>{{ images.count }}</strong> Posts</span>
    </div>
    <div class="col-md-2">
      <span class="mr-5"> <strong>{{ user.profile.followers.count }}</strong> followers</span>
    </div>
    <div class="col-md-2">
      <span class="mr-5"> <strong>{{ user.profile.following.count }}</strong> following</span>
      <div style="margin-left:-200px">
      {% if follow_status %}
        <a class="btn btn-sm btn-outline-danger ml-5" href="{% url 'unfollow' user.profile.id %}">Unfollow</a>
        
        {%else%}
        
          <a class="btn btn-sm btn-primary ml-5" href="{% url 'follow' user.profile.id %}">Follow</a>
        {% endif %}
      </div>
    </div>
                    
  </div>
  <div class="row">
    {% for image in user_posts %}
    <div class="col-md-3">
      <img src="{{ image.image.url }}">
    </div>
    {% endfor %}
        
    </div>
  </div>
</div>


                                
  
{%endblock%}